<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        /* Style for positioning the logout button */
        #logoutForm {
            position: absolute;
            top: 10px; /* Adjust top position as needed */
            right: 10px; /* Adjust right position as needed */
        }
    </style>
</head>
<body>
<div>
    <a href="http://localhost:8080/web/users?lang=en">English</a>
    <a href="http://localhost:8080/web/users?lang=sv">Svenska</a>
</div>
<h1 th:text="#{users}"></h1>
<p th:each="userEntity : ${userNames}" th:text="${userEntity}">No name</p>
<div th:if="${userNames.isEmpty()}">
    <p th:text="#{no.users}">We have no users</p>
</div>
<a href="/web/create" th:text="#{more.users}"></a>

<!-- Add the logout form -->
<form id="logoutForm" action="/logout" method="post">
    <input type="submit" value="Logout">
</form>
</body>
</html>
